<% include layout-head %>
<div class="jumbotron">
<h2>Welcom to GRE Reading Workshop</h2>
<br>
<br>
</div>

<div class="form-inline">
<div class="form-group">
    <input type="text" id="input-word" class="form-control" style="width:450px">
    <input type="button" id="search-word" value="search" class="btn">
</div>
</div>
<div>
<br>
<br>
</div>
<div id="word-group-list">
</div>
<% include layout-foot %>
